@import '../../styles/global';

.cartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $color-brown;
  font-weight: 700;
  font-size: 5rem;
  p {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
}
