@import '../../styles/global';

.registration_data_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #333;
  font-size: 2vw;
  padding: 5px;
  margin: 0px 2vw;
  background: transparent;
}

.input {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.span {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
